<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Compare Target Platform - Base for Release" sequenceNumber="1513797985">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.7.2.v20171130-0510"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.7.2.v20171130-0906"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.7.2.v20171130-0510"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.13.2.v20171130-0906"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.1.1.v20170906-1259"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.7.2.v20171108-1834"/>
      <unit id="org.eclipse.draw2d" version="3.10.100.201606061308"/>
      <unit id="org.eclipse.gef" version="3.11.0.201606061308"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.7.0.v20170604-1316"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.13.0.v20170609-0928"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.11.0.201706061352"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.11.0.201706061339"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.11.0.201706061354"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.3.0.v20170605-1616"/>
      <repository id="eclipse-oxygen" location="http://download.eclipse.org/releases/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="4.9.2.201712150930-r"/>
      <unit id="org.eclipse.jgit.feature.group" version="4.9.2.201712150930-r"/>
      <repository id="egit" location="http://download.eclipse.org/egit/updates"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.uml2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="0.0.0"/>
      <repository id="emfCompare" location="http://download.eclipse.org/modeling/emf/compare/updates/logical/emf.compare/integration/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.io" version="0.0.0"/>
      <unit id="org.apache.commons.io.source" version="0.0.0"/>
      <unit id="com.google.inject" version="0.0.0"/>
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
      <unit id="javaewah" version="0.0.0"/>
      <unit id="org.apache.commons.compress" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.kohsuke.args4j" version="0.0.0"/>
      <unit id="org.mockito" version="1.9.5.v201605172210"/>
      <unit id="org.hamcrest" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.hamcrest.integration" version="0.0.0"/>
      <unit id="org.hamcrest.text" version="0.0.0"/>
      <unit id="org.objenesis" version="1.0.0.v201505121915"/>
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170307180635/repository"/>
    </location>
  </locations>
</target>
