<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Compare Target Platform - Nightly, Tests" sequenceNumber="1516204257">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d" version="0.0.0"/>
      <unit id="org.eclipse.gef" version="0.0.0"/>
      <unit id="org.eclipse.ocl.core.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.examples.classic.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
      <repository id="eclipse-oxygen" location="http://download.eclipse.org/staging/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="4.10.0.201712302008-r"/>
      <unit id="org.eclipse.jgit.feature.group" version="4.10.0.201712302008-r"/>
      <repository id="EGit" location="http://download.eclipse.org/egit/updates"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.views.properties.toolsmiths" version="0.0.0"/>
      <repository id="papyrusNightly" location="http://download.eclipse.org/modeling/mdt/papyrus/updates/nightly/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xwt.feature.feature.group" version="1.3.1.I20171018-2059"/>
      <repository id="xwt" location="http://download.eclipse.org/xwt/updates"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.io" version="0.0.0"/>
      <unit id="org.apache.commons.io.source" version="0.0.0"/>
      <unit id="com.google.inject" version="0.0.0"/>
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
      <unit id="javaewah" version="0.0.0"/>
      <unit id="org.apache.commons.compress" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.kohsuke.args4j" version="0.0.0"/>
      <unit id="org.mockito" version="1.9.5.v201605172210"/>
      <unit id="org.hamcrest" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.hamcrest.integration" version="0.0.0"/>
      <unit id="org.hamcrest.text" version="0.0.0"/>
      <unit id="org.objenesis" version="1.0.0.v201505121915"/>
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170307180635/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.junit.utils" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.junit.framework" version="0.0.0"/>
      <repository location="https://hudson.eclipse.org/papyrus/job/Papyrus-Oxygen-Developer/lastSuccessfulBuild/artifact/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sysml14.feature.feature.group" version="0.0.0"/>
      <repository id="sysml" location="https://hudson.eclipse.org/papyrus/job/papyrus-sysml-oxygen/lastStableBuild/artifact/releng/org.eclipse.papyrus.sysml14.p2/target/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.tests.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.egit.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="0.0.0"/>
      <repository id="emfCompare" location="http://download.eclipse.org/modeling/emf/compare/updates/logical/emf.compare/nightly/latest/"/>
    </location>
  </locations>
</target>
